BeautifulSoup==3.2.1
click==6.6
cssselect==0.9.2
Flask==1.0
goose-extractor==1.0.25
itsdangerous==0.24
jieba==0.38
Jinja2==2.8
lxml==4.6.3
MarkupSafe==0.23
nltk==3.2.1
numpy==1.11.1
Pillow==8.1.1
poster==0.8.1
simplejson==3.8.2
Unirest==1.1.7
Werkzeug==0.11.11
